[data-theme="dark"] {
  background-color: #000 !important;
  color: #eee;
  scrollbar-color: dark !important;
}



[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .modal-content{
	background-color: #3c3c3c !important;
}

[data-theme="dark"] #telegram_log, #desktop_status{
	background-color:black !important;
	color:white;
}

[data-theme="dark"] .list-group-item-action:active {
    color: white !important;
}

[data-theme="dark"] .list-group-item-action {
    color: white !important;
}

[data-theme="dark"] .list-group-item {
    color: white !important;
}

[data-theme="dark"] .list-group-item {
    background-color: initial;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

[data-theme="dark"] .h-scroll {
    border: 1px solid rgba(255, 255, 255, 0.125);
}