@font-face {
  font-family: RobotoBlack;
  src: url('/static/Roboto-Black.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('/static/Roboto-Bold.ttf');
  font-weight:bold;
}

@font-face {
  font-family: Roboto;
  src: url('/static/Roboto-Regular.ttf');
}

html, body{
    font-family: 'Roboto', sans-serif !important;
}


.Alerta{
    background-color:red;
    color:white;
}

.BateriaBaja{
    background-color:orange;
    color:white;
}

.container-fluid{
    width:100vw;height:100vh;overflow-y: hidden;
}

.h-scroll {
    height: 90vh; /* %-height of the viewport */
    overflow-y: scroll;
    overflow: visible;
    border:1px solid rgba(0,0,0,.125);
}

.nav-header{
    width: 100% !important;
}

.glowing{
    animation: glowing 1000ms infinite;   
}

.alarm-list .card {
    width:30vw;
}

.alarm-list .bg-none{
  display:none;
}

.w-80 {
    width: 80%!important;
}

.w-90 {
    width: 90%!important;
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px red; }
    40% { box-shadow: 0 0 40px red; }
    60% { box-shadow: 0 0 40px red; }
    100% { box-shadow: 0 0 -10px red; }
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-adddevice{
    /*position: absolute;
    bottom: 10px;
    right: 10px;*/
}

.wifi .info-ip .manual{

}