<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Elea Alerts</title>

        <meta name="description" content="Elea Alerts">
        <meta name="author" content="Elea Soluciones">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">

    </head>
    
    <body>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-light bg-light justify-content-between nav-header">
              <a class="navbar-brand p-0" onclick="window.location.reload(1);">
                <img src="/static/img/elea-alerts.svg" height="45" class="d-inline-block align-top" alt="">
              </a>
              <span class="navbar-text time">
              </span>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 h-scroll device-list p-0">
                <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    {% for tag, dev in devices.items() %}

                    <div class="list-group-item text-center">
                        <strong>{{tag}}</strong>
                    </div>

                    {% for d in dev %}
                    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-{{d.css}} device" id="list-{{d.name}}" data-name="{{d.name}}" href="#editdevice" data-toggle="modal">
                        {{d.location}}  <span class="badge badge-secondary badge-pill">{{d.name}}</span>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    <div class="list-group-item list-group-item-action d-flex align-items-right">
                        <button type="button" class="btn btn-secundary btn-circle btn-desktop">@</button>
                        <button type="button" class="btn btn-secundary btn-circle btn-adddevice">+</button>
                        <button type="button" id="btn-last-device"  class="btn btn-secundary btn-sm">{{localip}}</button>
                    </div>
                    

                </div>
            </div>
            
            <div class="col-md-8 p-2 alarm-list h-scroll">

                {% for tag, dev in devices.items() %}
                {% for d in dev %}
                <div class="card text-white glowing mx-auto my-3 w-90 bg-{{d.css}} {{d.status}}" id="alarm-{{d.name}}">
                    <h5 class="card-header">
                        {{d.info}}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            {{d.location}}
                            <br>
                            {{d.tag}}
                            <br>
                            <span class='when'>{{d.last_time_seen}}</span>
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-light snooze" >Silenciar</button>
                        <button class="btn btn-secundary btn-dismiss-alarm" data-name="{{d.name}}" >Descartar</button>
                    </div>
                </div>
                
                {% endfor %}
                {% endfor %}
                
            </div>
        </div>
    </div>
    			
    <div class="modal fade" id="editdevice" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Dispositivo (#<span id="dev-id">0</span>) <span id="rssi" class="">0</span>dBm
                    </h5> 
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                
                <form role="form" id="editDevForm">
                <div class="modal-body">
                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Identificador</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name"/>
                        <div class="input-group-append">
                          <a id="getDeviceName" class="btn btn-outline-secondary" type="button">+</a>
                        </div>
                    </div>
                    
                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Localización</span>
                        </div>
                        <input type="text" class="form-control" id="location" name="location"/>
                    </div>
                    
                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Etiqueta</span>
                        </div>
                        <input type="text" class="form-control" id="tag" name="tag"/>
                    </div>
                    
                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Info</span>
                        </div>
                        <input type="text" class="form-control" name="info" id="info" />
                    </div>
                    
                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">PIN</span>
                        </div>
                        <input type="password" class="form-control" name="password" id="password" value="1234"></input>
                    </div>
                    
                    <input type="hidden" id="device-id" name="id" />

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="borrardevice">
                        Borrar
                    </button>                               
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
                </form>

            </div>
            
        </div>
        
    </div>

    <div class="modal fade" id="lastdevice" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Ultimo dispositivo
                    </h5> 
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            
                <div class="modal-body">
                    <dl id="last-device-info">
                        <dt>Dispositivo</dt>
                        <dd><span class="device"></span></dd>
                        <dt>Dato</dt>
                        <dd><span class="data"></span></dd>
                        <dt>RSSI</dt>
                        <dd><span class="RSSI"></span></dd>
                        <dt>RORG</dt>
                        <dd><span class="RORG"></span></dd>
                        <dt>Fecha</dt>
                        <dd><span class="timed"></span></dd>
                    </dl>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" id="refresh-last-device-info">
                        Refrescar
                    </button>
                     
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Salir
                    </button>
                </div>

            </div>
            
        </div>
        
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/nano.js"></script>
    <script src="/static/js/eleaalertsdesktop.js"></script>


    </body>
</html>
