<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Elea Alerts 2.0</title>

        <meta name="description" content="Elea Alerts">
        <meta name="author" content="Elea Soluciones">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/dark-mode.css">

        <link href="/static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/virtual-keyboard.css">

        <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
        <link href="/static/css/fontawesome.all.min.css" rel="stylesheet"> <!--load all styles -->

    </head>
    
    <body>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-light bg-light justify-content-between nav-header">
              <a class="navbar-brand p-0" onclick="window.location.reload(1);">
                <img src="/static/img/elea-alerts.svg" height="45" class="d-inline-block align-top" alt="">
              </a>
              <div class="navbar-text">
                <!--button type="button" class="btn btn-outline-secondary btn-sm" id="btn-last-device"><i class="fas fa-search"></i></button>
                <button type="button" class="btn btn-outline-secondary btn-circle btn-adddevice"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn btn-outline-danger btn-circle" id="btn-poweroff"><i class="fas fa-power-off"></i></button-->
                <div class="dropdown">
                  <button class="btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bars"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" data-toggle="modal" data-target="#modal-internet" id="openModalInternet" href="#modal-internet"><i class="fas fa-wifi"></i> {{localip}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item btn-adddevice" href="#"><i class="fas fa-plus"></i> Añadir dispositivo</a>
                    <a class="dropdown-item" id="btn-last-device" href="#"><i class="fas fa-search"></i> Estado sistema</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="btn-poweroff" href="#"> <i class="fas fa-power-off" style="color:red"></i> Apagar</a>
                  </div>
                </div>
              </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 h-scroll device-list p-0">
                <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    {% for tag, dev in devices.items() %}

                    <div class="list-group-item text-center">
                        <strong>{{tag}}</strong>
                    </div>

                    {% for d in dev %}
                    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-{{d.css}} device" id="list-{{d.name}}" data-name="{{d.name}}" href="#editdevice" data-toggle="modal">
                        {{d.description}}  <span class="badge badge-secondary badge-pill">{{d.name}}</span>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-md-8 p-2 alarm-list h-scroll">

                {% for tag, dev in devices.items() %}
                {% for d in dev %}
                <div class="card text-white glowing mx-auto my-3 w-90 bg-{{d.css}} {{d.status}}" id="alarm-{{d.name}}">
                    <div class="card-body">
                        <p class="card-text">
                            <p style="font-size:2em;"><span class="description">{{d.description}}</span><br>{{d.tag}}</p>
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-light snooze" >Silenciar</button>
                        <button class="btn btn-secundary btn-dismiss-alarm" data-name="{{d.name}}" >Descartar</button>
                        <span class='when float-right' style="font-size: 1.5em;">{{d.since}}</span>
                    </div>
                </div>

                {% endfor %}
                {% endfor %}     
                
            </div>
        </div>
    </div>

    			
    <div class="modal fade" id="editdevice" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Dispositivo (#<span id="dev-id">0</span>)
                    </h5> 
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                
                <form role="form" id="editDevForm">
                <div class="modal-body">

                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text device d-inline">Identificador</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="name" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>
                        <div class="input-group-append">
                          <a id="getDeviceName" class="btn btn-outline-secondary" type="button"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Tipo de dispositivo</label>
                      </div>
                      <select class="custom-select" id="type">
                        <option selected value="device">Dispositivo Elea</option>
                        <option value="gateway">Usuario EleaAlert</option>
                      </select>
                    </div>

                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripción</span>

                        </div>
                        <input type="text" class="form-control" id="description" virtual-keyboard name="description"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="description" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>

                    </div>
                    
                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Etiqueta</span>
                        </div>
                        <input type="text" class="form-control" id="tag" name="tag"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="tag" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="borrardevice" dev="">
                        Borrar
                    </button>                               
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
                </form>

            </div>
            
        </div>
        
    </div>




    <div class="modal fade" id="modal-internet" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Configurar internet
                    </h5> 
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                
                <form role="form" id="editInternetForm">
                <div class="modal-body">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text">Tipo de conexión</label>
                      </div>
                      <select class="custom-select" id="internet-type" name="internet-type">
                        <option selected value="no-connection"><i class="fas fa-ban"></i> Sin conexión</option>
                        <option value="ethernet"><i class="fas fa-ethernet"></i> Red cableada (Ethernet)</option>
                        <option value="wifi"><i class="fas fa-wifi"></i> Red inalambrica (Wifi)</option>
                      </select>
                    </div>

                    <div class="input-group mb-3 wifi d-none">  
                        <div class="input-group-prepend">
                            <span class="input-group-text device d-inline">Identificador de red</span>
                        </div>
                        <input type="text" class="form-control" id="ssid" name="ssid"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="ssid" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>
                    </div>

                    <div class="input-group mb-3 wifi d-none">  
                        <div class="input-group-prepend">
                            <span class="input-group-text device d-inline">Contraseña</span>
                        </div>
                        <input type="text" class="form-control" id="password" name="password"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="password" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>
                    </div>

                    <!--div class="input-group mb-3 info-ip wifi d-none">
                      <div class="input-group-prepend">
                        <label class="input-group-text">Configuración IPv4</label>
                      </div>
                      <select class="custom-select" id="configuration-type" name="configuration-type">
                        <option value="manual"> Manual</option>
                        <option selected value="dhcp"> Automática (DHCP)</option>
                      </select>
                    </div>

                    <div class="input-group mb-3 manual d-none">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Dirección IP</span>
                        </div>
                        <input type="text" class="form-control" id="ip-address" virtual-keyboard name="ip-address"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="ip-address" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>

                    </div>
                    
                    <div class="input-group mb-3 manual d-none">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Mascara de subred</span>
                        </div>
                        <input type="text" class="form-control" id="mask" name="mask"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="mask" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>
                    </div>

                    <div class="input-group mb-3 manual d-none">  
                        <div class="input-group-prepend">
                            <span class="input-group-text">Puerta de enlace</span>
                        </div>
                        <input type="text" class="form-control" id="gateway" name="gateway"/>
                        <div class="input-group-append">
                            <a class="btn btn-outline-info virtual-keyboard-hook" type="button" data-target-id="gateway" data-keyboard-mapping="qwerty"><i class="fas fa-keyboard"></i></a>
                        </div>
                    </div-->

                </div>
                <div class="modal-footer">                             
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
                </form>

            </div>
            
        </div>
        
    </div>



    <div class="modal fade" id="lastdevice" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Información dispositivos
                    </h5> 
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-status-tab" data-toggle="tab" href="#nav-status" role="tab" aria-controls="nav-status" aria-selected="false">Estado</a>
                        <a class="nav-item nav-link" id="nav-log-tab" data-toggle="tab" href="#nav-log" role="tab" aria-controls="nav-log" aria-selected="true">Histórico</a>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-status" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="mt-3" style="background-color: whitesmoke; padding: 1em; max-height: 300px; border-radius: 15px;" id="desktop_status">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab">
                            <pre class="mt-3" style="background-color: whitesmoke; padding: 1em; max-height: 300px; border-radius: 15px;" id="telegram_log">
                            </pre>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="refresh-last-device-info">
                        Refrescar
                    </button>
                     
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Salir
                    </button>
                </div>

            </div>
            
        </div>
        
    </div>

    <div class="custom-control custom-switch" style="position: fixed;bottom: 23px;left: 10px;">
      <input type="checkbox" class="custom-control-input" id="darkSwitch" />
      <label class="custom-control-label" for="darkSwitch">Modo noche</label>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/nano.js"></script>
    <script src="/static/js/sweetalert2.all.min.js"></script>
    <script src="/static/js/dark-mode-switch.min.js"></script>
    <script src="/static/js/eleaalertsdesktop.js"></script>
    <script src="/static/js/virtual-keyboard.min.js"></script>

    </body>
</html>
